{% extends 'base.html.twig' %}

{% block title %}Edit Player{% endblock %}

{% block body %}
    <h1>Change Player's Team </h1>

{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form._token) }}

<div class="mb-3 col-4">
  <label class="form-label" for="firstname">Select Team</label>
  {{ form_row(form.team, {'attr': {'class': 'form-select'} , label: false })  }}
</div>
<div class="mb-3 col-4">
  <label class="form-label" for="firstname">Expacted Price</label>
  {{ form_row(form.expacted_price, {'attr': {'class': 'form-select'} , label: false })  }}
</div>
<div class="mb-3 col-4">
  <label class="form-label" for="firstname">Base Price</label>
  {{ form_row(form.base_price, {'attr': {'class': 'form-select'} , label: false })  }}
</div>
<button class="button player-btn">{{ button_label|default('Save') }}</button>
{{ form_end(form, {'render_rest': false}) }}
{% endblock %}
