{% extends 'base.html.twig' %}

{% block title %}Player index
{% endblock %}

{% block body %}
	<h1 class="mb-4">Players</h1>

<a href="{{ path('app_player_new') }}" class="button player-btn">Create new</a>
	<section class="Players">
		<div class="container">
       
			<div class="main-players">           
				{% for key, player in players %}
					<div class="hero-player-block">	
                    <div class="center">
										
											{% if player.team is null  %}
													<a href="{{ path('app_player_addtoteam', {'id': player.id}) }}" class="button show-btn mt-2 mb-2">Add to Team</a>
											{% else %}	
													<a href="{{ path('app_player_addtoteam', {'id': player.id}) }}" class="button edit-btn mt-2 mb-2">Change Team</a>
											{% endif %}	
										 </div>		
						<a href="{{ path('app_player_edit', {'id': player.id}) }}" class="player">
							<div class="img-player">
								<img src="{{ asset(player_dir ~ player.image ) }}" alt="Player-img">
							</div>

							<div class="info-player">
								<div class="name-player">
									<h2>{{ player.firstname }}
										{{ player.lastname }}</h2>
								</div>
							</div>
						</a>
					</div>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</div>
		</div>
	</section>

	
{% endblock %}
