{{ form_start(form) }}
{{ form_errors(form) }}

<div class="mb-3 col-4">
  <label class="form-label" for="team_name">Team Name</label>
  {{ form_row(form.name, {'attr': {'class': 'form-control'} , label: false })  }}
</div>
<div class="mb-3 col-4">
  <label class="form-label" for="team logo">Logo</label>
  {{ form_row(form.logo, {'attr': {'class': 'form-control'} , label: false })  }}
</div>
<div class="mb-3 col-4">
 <label class="form-label" for="team logo">Country</label>
  {{ form_row(form.country, {'attr': {'class': 'form-select'} , label: false })  }}
</div>
<div class="mb-3 col-4">
 <label class="form-label" for="team logo">Budget</label>
  {{ form_row(form.budget, {'attr': {'class': 'form-control'} , label: false })  }}
</div>

<button class="button player-btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
